/* This removes default margin and padding given by web browser */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.intro {
  position: relative;
  text-align: right;
  color: white;
}

.banner {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
}

.banner p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}

#contact-btn {
  width: 10rem;
  height: 4rem;
  border-radius: .4rem;
  background-color: #FFFFFF;
  color: #005FAC;
  font-weight: 600;
  font-size: 1.5rem;
  border: none;
}

/* this sets image to center with gradient */
#contact-card {
  display: block;
  background-image: linear-gradient(to right, rgba(0, 95, 172, 1), rgba(0, 95, 172, 0)), url('./images/watch.png');
  background-size: cover;
  width: 70%;
  height: 20rem;
  border-radius: .5rem;
  margin: 10rem auto 10rem auto;
  padding:5rem 5rem 0rem 5rem;
  color: #F8F8F8;
}

footer {
  display: flex;
  background-color: #151414;
  color: #F8F8F8;
  padding: 5% 0%;
}

.contact {
  width: 50%;
  padding: 0 15%;
}

.subscription {
  width: 50%;
  padding: 0 15%
}

.contact img {
  padding-right: 10px;
  width: 3rem;
}

.subscription input {
  width: 20rem;
  height: 4rem;
  border-radius: .5rem;
  background-color: #151414;
  color: #F8F8F8;
  border: .1rem solid #F8F8F8; 
  padding-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: left;
}

.subscription button {
  width: 10rem;
  height: 4rem;
  border-radius: .5rem;
  background-color: #F8F8F8;
  color: #F15B22;
  font-size: 1.3rem;
  font-weight: 600;
}